.container {
    text-align: center;
    /* centers text inside */
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    align-items: center;
    /* centers menu items */
    gap: 10px;
}

.menu-item {
    margin: 0;
}